* * * * * sleep 1 && cd /print/ && php print.php
* * * * * sleep 2 && cd /print/ && php print.php
* * * * * sleep 3 && cd /print/ && php print.php
* * * * * sleep 4 && cd /print/ && php print.php
* * * * * sleep 5 && cd /print/ && php print.php
* * * * * sleep 6 && cd /print/ && php print.php
* * * * * sleep 7 && cd /print/ && php print.php
* * * * * sleep 8 && cd /print/ && php print.php
* * * * * sleep 9 && cd /print/ && php print.php
* * * * * sleep 10 && cd /print/ && php print.php
* * * * * sleep 11 && cd /print/ && php print.php
* * * * * sleep 12 && cd /print/ && php print.php
* * * * * sleep 13 && cd /print/ && php print.php
* * * * * sleep 14 && cd /print/ && php print.php
* * * * * sleep 15 && cd /print/ && php print.php
* * * * * sleep 16 && cd /print/ && php print.php
* * * * * sleep 17 && cd /print/ && php print.php
* * * * * sleep 18 && cd /print/ && php print.php
* * * * * sleep 19 && cd /print/ && php print.php
* * * * * sleep 20 && cd /print/ && php print.php
* * * * * sleep 11 && cd /print/ && php print.php
* * * * * sleep 22 && cd /print/ && php print.php
* * * * * sleep 23 && cd /print/ && php print.php
* * * * * sleep 24 && cd /print/ && php print.php
* * * * * sleep 25 && cd /print/ && php print.php
* * * * * sleep 26 && cd /print/ && php print.php
* * * * * sleep 27 && cd /print/ && php print.php
* * * * * sleep 28 && cd /print/ && php print.php
* * * * * sleep 29 && cd /print/ && php print.php
* * * * * sleep 30 && cd /print/ && php print.php
* * * * * sleep 31 && cd /print/ && php print.php
* * * * * sleep 32 && cd /print/ && php print.php
* * * * * sleep 33 && cd /print/ && php print.php
* * * * * sleep 34 && cd /print/ && php print.php
* * * * * sleep 35 && cd /print/ && php print.php
* * * * * sleep 36 && cd /print/ && php print.php
* * * * * sleep 37 && cd /print/ && php print.php
* * * * * sleep 38 && cd /print/ && php print.php
* * * * * sleep 39 && cd /print/ && php print.php
* * * * * sleep 40 && cd /print/ && php print.php
* * * * * sleep 41 && cd /print/ && php print.php
* * * * * sleep 42 && cd /print/ && php print.php
* * * * * sleep 43 && cd /print/ && php print.php
* * * * * sleep 44 && cd /print/ && php print.php
* * * * * sleep 45 && cd /print/ && php print.php
* * * * * sleep 46 && cd /print/ && php print.php
* * * * * sleep 47 && cd /print/ && php print.php
* * * * * sleep 48 && cd /print/ && php print.php
* * * * * sleep 49 && cd /print/ && php print.php
* * * * * sleep 50 && cd /print/ && php print.php
* * * * * sleep 51 && cd /print/ && php print.php
* * * * * sleep 52 && cd /print/ && php print.php
* * * * * sleep 53 && cd /print/ && php print.php
* * * * * sleep 54 && cd /print/ && php print.php
* * * * * sleep 55 && cd /print/ && php print.php
* * * * * sleep 56 && cd /print/ && php print.php
* * * * * sleep 57 && cd /print/ && php print.php
* * * * * sleep 58 && cd /print/ && php print.php
* * * * * sleep 59 && cd /print/ && php print.php
* * * * * sleep 60 && cd /print/ && php print.php

