[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/yobom3/.Xauthority
Type=simple
ExecStart=/bin/bash /home/yobom3/kiosk.sh
Restart=on-abort
User=yobom3
Group=yobom3

[Install]
WantedBy=graphical.target